.navbar{
    background-color: rgb(34, 34, 34);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white
}
.navbar h1{
    font-size: 25px;
}
.navlinks a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar1 {
    background-color: #d1ecf1;
    color: #0c5460;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    border-left: 5px solid #17a2b8;
}
.GetStartBttn {
    background-color: #2563eb;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}
.GetStartBttn:hover{
    color: beige;
}
.main-content h1{
    font-style:normal;

}